.map{

    margin: auto;
    width: 1280px;
    height: 720px;
    background: #0d0a0a;
}
.tag{
    color: darkgray;
    font-size: 12px;
}

.map2{

    margin: auto;
    width: 350px;
    height: 350px;
    background: #0d0a0a;
}

[class*="copyrights-pane"] {
  display: none !important;
}