{% extends "dosug/layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление события</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=07b853de-c56b-4c45-9c62-6c0e45ad480e&lang=ru_RU"></script>
        <style>
        form {
            max-width: 600px;
        }

        label {
            display: flex;
            align-items: center; /* Выравнивание элементов по вертикали */
            margin-bottom: 10px;
        }


        input, textarea {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
        #map {
            width: 500px;
            height: 300px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="page"><br><br>
      <section class="section novi-background section-md text-center">
          <h3 style="text-align: center"><b>Добавление своего события</b></h3>
          <p>Добавьте своё собственное событие</p></section>

    <div style="margin-left: 60px">
        <h5>Заполните поля</h5><small>* - поля, обязательные к заполнению</small><br><br><div style="color: black; font-size: 17px">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="color: black">
    <label for="title"><b>*Название:</b> <input class="input-tab" type="text" id="title" name="title" maxlength="100" required minlength="2"></label>
    <small><div id="title-count"></div></small> <!-- Счетчик оставшихся символов -->
<br>
    <label for="description"><b><a style="color: #4348bd; margin-right: 5px" data-tooltip="Это описание, которое будет показано на странице поиска">(?)</a>*Краткое описание:</b> <textarea style="margin-left: 65px; font-size: 15px" id="description" name="description" maxlength="250" required></textarea></label>
    <small><div id="description-count"></div></small> <!-- Счетчик оставшихся символов -->
<br>
    <label for="description2"><b>*Описание:</b> <textarea style="font-size: 15px" class="input-tab" id="description2" name="description2" maxlength="1200" required></textarea></label>
    <small><div id="description2-count"></div></small> <!-- Счетчик оставшихся символов -->
<br>
    <label for="type"><b>*Тип:</b> <select style="margin-left: 150px" id="type" name="type">
        <option value="art">Творчество</option><option value="music">Музыка</option><option value="entertainments">Развлечения</option><option value="culture_study">Культура и образование</option><option value="sport">Спорт</option>
    </select></label>
<br>

     <label for="datetime"><b>*Дата:</b>
    <input style="margin-left: 150px" type="datetime-local" id="datetime" name="datetime" required max="9999-12-31T23:59"></label><br>


<!--<label for="date_type"><b>Выберите тип даты:</b></label>-->
<!--<select id="date_type" onchange="showFields()">-->
<!--  <option value="datetime">Дата и время</option>-->
<!--  <option value="date_range">Дата и время от и до</option>-->
<!--  <option value="date">Только дата</option>-->
<!--  <option value="time">Только время</option>-->
<!--</select>-->

<!--<br><br>-->

<!--<div id="datetime_fields">-->
<!--  <label for="datetime"><b>*Дата и время:</b>-->
<!--  <input style="margin-left: 107px" type="datetime-local" id="datetime" name="datetime" required max="9999-12-31T23:59"></label>-->
<!--</div>-->
<!--<div id="date_range_fields" style="display:none;">-->
<!--  <label for="date_range_from"><b>Дата и время от:</b>-->
<!--  <input type="datetime-local" style="margin-left: 97px" id="date_range_from" name="date_range_from" required></label>-->
<!--  <label for="date_range_to"><b>Дата и время до:</b>-->
<!--  <input type="datetime-local" style="margin-left: 95px" id="date_range_to" name="date_range_to" required></label>-->
<!--</div>-->

<!--<div id="date_fields" style="display:none;">-->
<!--  <label for="date"><b>Дата:</b>-->
<!--  <input type="date" style="margin-left: 150px" id="date" name="date_range_from" required></label>-->
<!--</div>-->

<!--<div id="time_fields" style="display:none;">-->
<!--  <label for="time_from"><b>Время от:</b>-->
<!--  <input type="time" style="margin-left: 138px" id="time_from" name="date_range_from" required></label>-->
<!--  <label for="time_to"><b>Время до:</b>-->
<!--  <input type="time" style="margin-left: 137px" id="time_to" name="date_range_to" required></label>-->
<!--</div>-->
<!--<br>-->
<!--<script>-->
<!--function showFields() {-->
<!--  var selectedValue = document.getElementById("date_type").value;-->
<!--  var datetimeFields = document.getElementById("datetime_fields");-->
<!--  var dateRangeFields = document.getElementById("date_range_fields");-->
<!--  var dateFields = document.getElementById("date_fields");-->
<!--  var timeFields = document.getElementById("time_fields");-->

<!--  datetimeFields.style.display = "none";-->
<!--  dateRangeFields.style.display = "none";-->
<!--  dateFields.style.display = "none";-->
<!--  timeFields.style.display = "none";-->

<!--  if (selectedValue === "datetime") {-->
<!--    datetimeFields.style.display = "block";-->
<!--  } else if (selectedValue === "date_range") {-->
<!--    dateRangeFields.style.display = "block";-->
<!--  } else if (selectedValue === "date") {-->
<!--    dateFields.style.display = "block";-->
<!--  } else if (selectedValue === "time") {-->
<!--    timeFields.style.display = "block";-->
<!--  }-->
<!--}-->

<!--// Показываем соответствующие поля при загрузке страницы-->
<!--showFields();-->
<!--</script>-->

    <label  for="phone"><b>Телефон:</b>
    <input type="tel" style="margin-left: 117px" id="phone" name="phone"></label><br>
    <label  for="url"><b>Сайт:</b>
    <input type="url" name="url" id="url" style="margin-left: 150px" placeholder="https://example.com" pattern="https://.*" size="30"/></label><br>
    <label for="photo"><b>Фотография:</b> <input style="margin-left: 100px" type="file" id="photo" name="photo" accept="image/jpeg, image/jpg, image/png"></label><br>
                <!-- Блок для карты -->
<b>*Карта:</b><div class="input-tab" id="map"></div>

<!-- Форма для ввода координат и адреса -->
    <label for="latitude">Широта:
    <input style="margin-left: 5px" type="text" id="latitude" name="latitude" required>
        <script>
document.getElementById("latitude").addEventListener("input", function() {
    this.value = ""; // Очищаем значение поля ввода
});
</script>
    <div style="margin-left: 5px">Долгота:</div>
    <input style="margin-left: 5px" type="text" id="longitude" name="longitude" readonly></label>
    <label for="address">Адрес:
    <input style="margin-left: 17px" type="text" id="address" name="address" readonly></label>
<br>

<br>
    <input type="submit" value="Отправить">
                </div>
</form>

    </div>

        </div>
</div><br><br><br>

<script>
document.getElementById("latitude").addEventListener("input", function() {
    if (this.value !== "") {
        this.setAttribute("required", "");
    } else {
        this.removeAttribute("required");
        this.setCustomValidity("Укажите точку на карте");
    }
});
</script>
<script>
    $('textarea').keypress(function(event) {
   if (event.which == 13) {
      event.stopPropagation();
   }
});
</script>
<script>
    function countCharacters(inputId, countId, maxLength) {
        var input = document.getElementById(inputId);
        var count = document.getElementById(countId);

        input.addEventListener('input', function() {
            var remaining = maxLength - input.value.length;
            count.textContent = 'Осталось символов: ' + remaining;
        });
    }

    countCharacters('title', 'title-count', 100);

    countCharacters('description', 'description-count', 250);

    countCharacters('description2', 'description2-count', 1200);
</script>
<script src="/static/js/add_event_map.js"></script>
<script>
    // Функция для форматирования номера телефона в реальном времени
    function formatPhoneNumber(input) {
        // Убираем все нецифровые символы из введенного значения
        const cleaned = ('' + input.value).replace(/\D/g, '');
        // Форматируем номер телефона как +(код страны) (код региона) номер
        let formatted = '';
        if (cleaned.length >= 1) {
            formatted += '+' + cleaned[0];
        }
        if (cleaned.length > 1) {
            formatted += ' (' + cleaned.substring(1, 4);
        }
        if (cleaned.length > 4) {
            formatted += ') ' + cleaned.substring(4, 7);
        }
        if (cleaned.length > 7) {
            formatted += '-' + cleaned.substring(7, 11);
        }
        // Выводим отформатированный номер телефона обратно в поле ввода
        input.value = formatted;
    }

    // Получаем поле ввода номера телефона
    const phoneInput = document.getElementById('phone');

    // Слушаем событие ввода в поле номера телефона
    phoneInput.addEventListener('input', function() {
        // Форматируем введенный номер телефона
        formatPhoneNumber(this);
    });
</script>
</body>
</html>
{% endblock content %}

