{% extends "dosug/layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=07b853de-c56b-4c45-9c62-6c0e45ad480e&lang=ru_RU"></script>
        <style>
        form {
            max-width: 600px;
        }

        label {
            display: flex;
            align-items: center; /* Выравнивание элементов по вертикали */
            margin-bottom: 10px;
        }


        input, textarea {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
        #map {
            width: 500px;
            height: 300px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="page"><br><br>
      <section class="section novi-background section-md text-center">
          <h3 style="text-align: center"><b>Редактирование мероприятия</b></h3>
      <p>Сейчас вы редактируете мероприятие под названием <a href="/event/{{ event.id }}" target="_blank" style="font-weight: bold">«{{event.title}}»</a></p>
      </section>


      <br><div style="margin-left: 60px">
        <h5>Отредактируйте поля</h5><small>* - поля, обязательные к заполнению</small><br><br><div style="color: black; font-size: 17px">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="color: black">
    <label for="title"><b>*Название:</b> <input class="input-tab" type="text" id="title" name="title" maxlength="100" required minlength="2" value="{{event.title}}"></label>
    <small><div id="title-count"></div></small> <!-- Счетчик оставшихся символов -->
<br>
    <label for="description"><b><a style="color: #4348bd; margin-right: 5px" data-tooltip="Это описание, которое будет показано на странице поиска">(?)</a>*Краткое описание:</b> <textarea style="margin-left: 65px; font-size: 15px" id="description" name="description" maxlength="250" required>{{event.tiny_description}}</textarea></label>
    <small><div id="description-count"></div></small> <!-- Счетчик оставшихся символов -->
<br>
    <label for="description2"><b>*Описание:</b> <textarea style="font-size: 15px" class="input-tab" id="description2" name="description2" maxlength="1200" required>{{event.description}}</textarea></label>
    <small><div id="description2-count"></div></small> <!-- Счетчик оставшихся символов -->
<br>
    <label for="type"><b>*Тип:</b> <select style="margin-left: 150px" id="type" name="type">
        <option value="art" {% if event.type == 'art' %}selected{% endif %}>Творчество</option>
        <option value="music" {% if event.type == 'music' %}selected{% endif %}>Музыка</option>
        <option value="entertainments" {% if event.type == 'entertainments' %}selected{% endif %}>Развлечения</option>
        <option value="culture_study" {% if event.type == 'culture_study' %}selected{% endif %}>Культура и образование</option>
        <option value="sport" {% if event.type == 'sport' %}selected{% endif %}>Спорт</option>
    </select></label>
<br>

<label for="date_type"><b>Выберите тип даты:</b></label>
<select id="date_type" onchange="showFields(); clearFields();">
  <option value="datetime">Дата и время</option>
  <option value="date_range">Дата от и до</option>
  <option value="datetime_range">Дата и время от и до</option>
  <option value="daily">Ежедневно</option>
  <option value="no_date">Нет даты</option>
</select>

<br><br>

<div id="datetime_fields">
  <label for="datetime"><b>*Дата и время:</b>
  <input style="margin-left: 107px" type="datetime-local" id="datetime" name="datetime" max="9999-12-31T23:59"></label>
</div>
<div id="date_range_fields" style="display:none;">
  <label for="date_range_from"><b>Дата от:</b>
  <input type="date" style="margin-left: 97px" id="date_range_from" name="date_range_from" max="9999-12-31"></label>
  <label for="date_range_to"><b>Дата до:</b>
  <input type="date" style="margin-left: 95px" id="date_range_to" name="date_range_to" max="9999-12-31"></label>
</div>

<div id="datetime_range_fields" style="display:none;">
  <label for="datetime_from_date"><b>Дата от:</b>
      <input type="date" style="margin-left: 98px" id="datetime_from_date" name="datetime_from_date" max="9999-12-31"></label>
  <label for="datetime_to_date"><b>Дата до:</b>
      <input type="date" style="margin-left: 90px" id="datetime_to_date" name="datetime_to_date" max="9999-12-31"></label>
  <label for="datetime_from_time"><b>Время от:</b>
  <input type="time" style="margin-left: 40px" id="datetime_from_time" name="datetime_from_time" max="23:59"></label>
  <label for="datetime_to_time"><b>Время до:</b>
  <input type="time" style="margin-left: 40px" id="datetime_to_time" name="datetime_to_time" max="23:59"></label>
</div>

<label for="daily_fields">
  <input type="text" id="daily_fields" name="daily_fields" value="Ежедневно" readonly>
</label>

<div id="no_date_fields" style="display:none;">
  <b>Нет даты</b>
</div>
<br>
<script>
function showFields() {
  var selectedValue = document.getElementById("date_type").value;
  var datetimeFields = document.getElementById("datetime_fields");
  var dateRangeFields = document.getElementById("date_range_fields");
  var datetimeRangeFields = document.getElementById("datetime_range_fields");
  var dailyFields = document.getElementById("daily_fields");
  var noDateFields = document.getElementById("no_date_fields");

  // Скрыть все поля перед отображением новых
  datetimeFields.style.display = "none";
  dateRangeFields.style.display = "none";
  datetimeRangeFields.style.display = "none";
  dailyFields.style.display = "none";
  noDateFields.style.display = "none";

  // Удалить атрибут required у всех полей
  var allFields = document.querySelectorAll("input[type='datetime-local'], input[type='date'], input[type='time']");
  allFields.forEach(function(field) {
    field.removeAttribute("required");
  });

  // Отображаем соответствующие поля в зависимости от выбранного вида даты
  if (selectedValue === "datetime") {
    datetimeFields.style.display = "block";
    document.getElementById("datetime").setAttribute("required", "");
  } else if (selectedValue === "date_range") {
    dateRangeFields.style.display = "block";
    document.getElementById("date_range_from").setAttribute("required", "");
    document.getElementById("date_range_to").setAttribute("required", "");
  } else if (selectedValue === "datetime_range") {
    datetimeRangeFields.style.display = "block";
    document.getElementById("datetime_from_date").setAttribute("required", "");
    document.getElementById("datetime_from_time").setAttribute("required", "");
    document.getElementById("datetime_to_date").setAttribute("required", "");
    document.getElementById("datetime_to_time").setAttribute("required", "");
  } else if (selectedValue === "daily") {
    dailyFields.style.display = "block";
  } else if (selectedValue === "no_date") {
    noDateFields.style.display = "block";
  }
}

function clearFields() {
  document.getElementById("datetime").value = "";
  document.getElementById("date_range_from").value = "";
  document.getElementById("date_range_to").value = "";
  document.getElementById("datetime_from_date").value = "";
  document.getElementById("datetime_from_time").value = "";
  document.getElementById("datetime_to_date").value = "";
  document.getElementById("datetime_to_time").value = "";
}

showFields();
</script>



    <label  for="phone"><b>Телефон:</b>
    <input type="tel" style="margin-left: 117px" id="phone" name="phone" value="{{event.phone}}"></label><br>
    <label  for="url"><b>Сайт:</b>
    <input type="url" name="url" id="url" style="margin-left: 150px" placeholder="https://example.com" pattern="https://.*" size="30" value="{{event.link}}"/></label><br>
    <label for="photo"><b>Фотография:</b> <input style="margin-left: 100px" type="file" id="photo" name="photo" accept="image/jpeg, image/jpg, image/png"></label><br>
<b>*Карта:</b><div class="input-tab" id="map"></div>
    <label for="latitude">Широта:
    <input style="margin-left: 5px" type="text" id="latitude" name="latitude" readonly value="{{latitude}}">
    <div style="margin-left: 5px">Долгота:</div>
    <input style="margin-left: 5px" type="text" id="longitude" name="longitude" readonly value="{{longitude}}"></label>
    <label for="address">Адрес:
    <input style="margin-left: 17px" type="text" id="address" name="address" readonly value="{{event.address}}"></label>
<br>

<br>
    <input type="submit" value="Сохранить">
                </div>
</form>

    </div>

        </div>
</div><br><br><br>

<script>
document.getElementById("latitude").addEventListener("input", function() {
    if (this.value !== "") {
        this.setAttribute("required", "");
    } else {
        this.removeAttribute("required");
        this.setCustomValidity("Укажите точку на карте");
    }
});
</script>
<script>
    $('textarea').keypress(function(event) {
   if (event.which == 13) {
      event.stopPropagation();
   }
});
</script>
<script>
    // Функция для отображения оставшихся символов в поле ввода
    function countCharacters(inputId, countId, maxLength) {
        var input = document.getElementById(inputId);
        var count = document.getElementById(countId);

        input.addEventListener('input', function() {
            var remaining = maxLength - input.value.length;
            count.textContent = 'Осталось символов: ' + remaining;
        });
    }

    countCharacters('title', 'title-count', 100);

    countCharacters('description', 'description-count', 250);

    countCharacters('description2', 'description2-count', 1200);
</script>
<div id="map-atrib"
    data-coordinates="{{ event.coordinates }}"
    data-datetime="{{ event.datetime }}">
</div>
<script src="/static/js/edit_event_map.js"></script>
<script>
    // Функция для форматирования номера телефона в реальном времени
    function formatPhoneNumber(input) {
        // Убираем все нецифровые символы из введенного значения
        const cleaned = ('' + input.value).replace(/\D/g, '');
        // Форматируем номер телефона как +(код страны) (код региона) номер
        let formatted = '';
        if (cleaned.length >= 1) {
            formatted += '+' + cleaned[0];
        }
        if (cleaned.length > 1) {
            formatted += ' (' + cleaned.substring(1, 4);
        }
        if (cleaned.length > 4) {
            formatted += ') ' + cleaned.substring(4, 7);
        }
        if (cleaned.length > 7) {
            formatted += '-' + cleaned.substring(7, 11);
        }
        // Выводим отформатированный номер телефона обратно в поле ввода
        input.value = formatted;
    }

    // Получаем поле ввода номера телефона
    const phoneInput = document.getElementById('phone');

    // Слушаем событие ввода в поле номера телефона
    phoneInput.addEventListener('input', function() {
        // Форматируем введенный номер телефона
        formatPhoneNumber(this);
    });
</script>
</body>
</html>
{% endblock content %}

