{% extends "dosug/layout.html" %}
{% block content %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>Музыка</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800%7CPoppins:300,400,700">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/style.css" id="main-styles-link">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="page">
      <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url(../../static/images/concert.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
                {% if type == None %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold">Все события</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о главном</i>
                {% elif type == 'art' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Творческий досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о творчестве</i>
                {% elif type == 'music' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Музыкальный досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о музыке</i>
                {% elif type == 'entertainments' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Развлекательный досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о развлечениях</i>
                {% elif type == 'culture_study' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Культура и образование</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о культуре и образовании</i>
                {% elif type == 'sport' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Спортивный досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о спорте</i>
                {% endif %}
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">На главную</a></li>
            </ul>
          </div>
        </div>
      </section>
{#        Штуки#}
      <section class="section novi-background section-md text-center">
        <div class="container">
          <h3 class="text-uppercase font-weight-bold wow-outer"><span class="wow slideInDown">Все события</span></h3><br>
        <block style=" padding: 20px; border: 1px solid #ccc; box-sizing: border-box;">
        {#          {% if type == None %}#}
              <a href="/events/{{ type }}">Все продукты</a>
              <a href="/events/{{ type }}/views">По популярности</a>
              <a href="/events/{{ type }}">По дате добавления</a>
{#          {% endif %}#}</block>
          <div class="row row-lg-50 row-35 offset-top-2">
              {#              Каждый див класс обхватывать классом ссылки, чтобы не писать Пример - а див /див /a#}
              {% for event in map_dots|slice:":8" %}
              <div class="col-md-3 wow-outer">
              <!-- Post Modern-->
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="/event/{{ event.id }}"><img src="../../static/images/grid-blog-1-571x353.jpg" alt="" width="571" height="353"/></a>
                <h4 class="post-modern-title"><a class="post-modern-title" href="/event/{{ event.id }}">{{ event.title }}</a></h4>
                <ul class="post-modern-meta">
                  <li><a class="" style="color: #4348bd">от 0 руб.</a></li>
                  <li>Дата</li>
                </ul>
                <p style="font-size: 15px">{{ event.tiny_description }}</p>
              </article>
            </div>
              {% endfor %}
            <div class="col-md-12 wow-outer"><a class="button button-primary" href="#">Больше</a></div>
          </div>
        </div>
      </section>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="../../static/js/core.min.js"></script>
    <script src="../../static/js/script.js"></script>
  <script>
  </script>
  </body>
</html>
{% endblock content %}