{% extends 'dosug/layout.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ event.title }}</title>
        <style>
        .container {
            display: flex;
        }
        .block {
            padding: 20px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            width: 90%;
            overflow: hidden; /* Обрезать текст, выходящий за границы блока */
            word-wrap: break-word; /* Разрывать длинные слова на новую строку */
        }
        .block-inner p{
            white-space: nowrap; /* Предотвратить перенос текста */
            overflow: hidden; /* Обрезать текст */
            text-overflow: ellipsis; /* Добавить многоточие для обозначения обрезанного текста */
}

    </style>
    <link rel="stylesheet" href="../../static/css/map.css">
</head>
<body>
<div class="page">
    <section class="section novi-background section-md text-center"><br><br>
<h3>{{ event.title }}</h3>
        <!--    ВАРИАНТ 1-->
<br>
        <div class="container" style="display: block; margin-left: auto; margin-right: auto; text-align: center; width: 90%; overflow: hidden; word-wrap: break-word;">
        <div class="block-inner" style="border: 1px solid #b3b3b3; border-radius: 5px; padding: 10px; margin: 10px 0;">
        <u><b><i style="font-size: 17px">Кратко</i></b></u> — <a style="font-size: 17px">{{ event.tiny_description }}</a></div>
    </div>
        </section>

<!--    ВАРИАНТ 2-->

<!--    <div class="container" style="display: block; margin-left: auto; margin-right: auto; text-align: center; width: 90%; overflow: hidden; word-wrap: break-word;">-->
<!--        <div class="block-inner" style="border: 1px solid #b3b3b3; border-radius: 5px; padding: 10px; margin: 10px 0;">-->
<!--        <u><b><i style="font-size: 15px">Кратко</i></b></u> — <a style="font-size: 17px">{{ event.tiny_description }}</a></div>-->
<!--    </div>-->
<div style="text-align: right; margin-right: 6.57%; margin-bottom: 0.52%">
    <a class="link-default" href="/stats/{{event.id}}" style="border: 1px solid #ccc; border-radius: 3px; font-weight: bolder; font-size: 1.25em; padding: 0.5em 1em;">Статистика</a>
</div>
<div class="container" style="color: #000000">
        <div class="block" style="width: 90%">
<!--            ВАРИАНТ 3-->
<!--            <div class="block-inner" style="border: 1px solid #b3b3b3; border-radius: 5px; padding: 10px; margin: 10px 0;">-->
<!--                <u><b><i style="font-size: 15px">Кратко</i></b></u> — <a style="font-size: 17px">{{ event.tiny_description }}</a></div>-->
            <br>
            <img style="display: block; margin-left: auto; margin-right: auto; width: 75%;" src="/static/images/event_pics/{{event.image}}" width="570" height="352">
            <br>
            <p>{{ event.description }}</p>
            <p><b>Адрес</b> - {{ event.address }}</p>
            <p><b>Телефон</b> - {% if event.phone == "" %}Отсутствует{% else %}{{ event.phone }}{% endif %}</p>
            <p><b>Сайт организатора</b> - {% if event.link == "" %}Отсутствует{% else %}<a href="{{ event.link }}" target="_blank">{{ event.link }}</a>{% endif %}</p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
</svg>
                <i style="font-size: 15px;">{{ event.views }}</i>
            </p>
        </div>
        <div class="block" style="width: 50%;">
            <h5>Информация о событии</h5>
            <p>Дата -
                {{datetime}} {% if datetime == "Не указана" %}<a style="color: #4348bd;" data-tooltip="Автор решил не указывать дату. Скорее всего, её можно найти в описании или на сайте организатора.">(?)</a>
                {% endif %}
            <p>Адрес - {{ event.address }}</p>
            <p>Цена - <a>{%if event.price == 0%}Бесплатно{% else %}{{event.price}} ₽{% endif %}</a></p>
            <p style="text-align: center; margin-bottom: 10px"><u>Карта</u></p>
            <div id="event-map" class="map2" data-event="{{ event }}"></div>
            <br>
            <div id="nearest-metro"></div>
        <section class="section novi-background section-md text-center"></section>
      </div>
        </div>
    </div>
    </div>
<div id="map-atrib"
    data-id="{{ event.id }}"
    data-title="{{ event.title }}"
    data-type="{{ event.type }}"
    data-image="{{ event.image }}"
    data-tiny-description="{{ event.tiny_description }}"
    data-description="{{ event.description }}"
    data-link="{{ event.link }}"
    data-address="{{ event.address }}"
    data-coordinates="{{ event.coordinates }}"
    data-views="{{ event.views }}"
    data-datetime="{{ event.datetime }}">
</div>

<br>
<br>
<br>
<br>
<script src="https://api-maps.yandex.ru/2.1/?apikey=07b853de-c56b-4c45-9c62-6c0e45ad480e&lang=ru_RU"></script>
<script src="../../static/js/map_script2.js"></script>
</body>
</html>
{% endblock content %}