{% extends "dosug/layout.html" %}
{% block content %}
<html class="wide wow-animation" lang="en">
  <head>
      {% if type == "art" %}<title>Творчество</title>
      {% elif type == "sport" %}<title>Спорт</title>
      {% elif type == "music" %}<title>Музыка</title>
      {% elif type == "culture_study" %}<title>Культура и образование</title>
      {% elif type == "entertainments" %}<title>Развлечения</title>
      {% else %}<title>Все события</title>
      {% endif %}
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800%7CPoppins:300,400,700">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css" id="main-styles-link">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <style>
.description {
        font-size: 15px;
        overflow-wrap: break-word;
        white-space: normal;
        text-overflow: ellipsis;
        max-width: 300px;
        max-height: 90px;
        overflow: hidden;
}
    </style>
      <script src="../../static/js/script.js"></script>
  </head>
  <body>
    <div class="page">
      <section class="section novi-background breadcrumbs-custom bg-image context-dark" style="background-image: url(/static/images/concert.jpg);">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
                {% if type == 'all' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold">Все события</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о главном</i>
                {% elif type == 'art' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Творческий досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о творчестве</i>
                {% elif type == 'music' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Музыкальный досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о музыке</i>
                {% elif type == 'entertainments' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Развлекательный досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о развлечениях</i>
                {% elif type == 'culture_study' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Культура и образование</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о культуре и образовании</i>
                {% elif type == 'sport' %}
              <h1 class="text-uppercase breadcrumbs-custom-title font-weight-bold"> Спортивный досуг</h1><br>
              <i class="breadcrumbs-custom-subtitle">Главное о спорте</i>
                {% endif %}
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="/">На главную</a></li>
            </ul>
          </div>
        </div>
      </section>
{#        Штуки#}
      <section class="section novi-background section-md text-center">
        <div class="container">
<!--          <h3 class="text-uppercase font-weight-bold wow-outer"><span class="wow slideInDown">Все события</span></h3><br>-->
        <p class="font-weight-bolder wow-outer" style="text-align: left;"><span class="wow slideInDown">Найдено событий по вашему запросу - {{count}}</span></p><br>
        <block  style="box-sizing: border-box; display: flex; align-items: center">
<div class="dropdown">
  <button class="dropbtn" for="btnControl">Фильтры</button>
  <div class="dropdown-content">
    <a href="{% if query != Null %}/events/{{ type }}?search_query={{query}}{% else %}/events/{{ type }}{%endif%}">Все продукты</a>
    <a href="{% if query != Null %}/events/{{ type }}/-views?search_query={{query}}{% else %}/events/{{ type }}/-views{%endif%}">Сначала популярные</a>
    <a href="{% if query != Null %}/events/{{ type }}/views?search_query={{query}}{% else %}/events/{{ type }}/views{%endif%}">Сначала непопулярные</a>
    <a href="{% if query != Null %}/events/{{ type }}/-created_at?search_query={{query}}{% else %}/events/{{ type }}/-created_at{%endif%}">Недавно добавленные</a>
  </div>
</div>

        <div class="custom-wrapper" style="width: 25%; top: 57px">
            {% csrf_token %}
            <div class="price-input-container">
                <div class="price-input" style=" display: inline-flex">
                    <div class="price-field">
                        <span>От</span>
                        <input type="number" id="min-input" class="min-input" value="{{min_price}}">
                    </div>
                    <div class="price-field" style="margin-left: 10px">
                        <span>До</span>
                        <input type="number" id="max-input" class="max-input" value="{{max_price}}">
                    </div>
                </div>
                <div class="slider-container" style="width: 185%; margin-left: 30px">
                    <div class="price-slider">
                    </div>
                </div>
            </div>

            <div class="range-input" style="width: 185%; margin-left: 30px">
                <input type="range"
                       class="min-range"
                       min="0"
                       max="10000"
                       value="{{min_price}}"
                       step="1">
                <input style="top: -39px" type="range"
                       class="max-range"
                       min="0"
                       max="10000"
                       value="{{max_price}}"
                       step="1">
            </div>
<!--                        <a id="price_submit" class="btn btn-primary" style="margin-left: 180px; color: white">Подтвердить</a>-->
        </div>

<script>
    function limitInputValue(inputId) {
        var inputValue = parseInt(document.getElementById(inputId).value); // Получаем значение из поля ввода
        if (isNaN(inputValue)) { // Проверяем, является ли значение числом
            inputValue = 0; // Если не число, устанавливаем значение по умолчанию в 0
        } else if (inputValue < 0) { // Если значение меньше 0
            inputValue = 0; // Устанавливаем значение в 0
        } else if (inputValue > 10000) { // Если значение больше 10000
            inputValue = 10000; // Устанавливаем значение в 10000
        }
        document.getElementById(inputId).value = inputValue; // Устанавливаем скорректированное значение обратно в поле ввода
    }

    // Вызываем функцию при изменении значения в полях ввода
    document.getElementById('min-input').addEventListener('input', function() {
        limitInputValue('min-input');
        checkMinMaxRanges();
    });

    document.getElementById('max-input').addEventListener('input', function() {
        limitInputValue('max-input');
        checkMinMaxRanges();
    });

    const rangeValue = document.querySelector(".slider-container .price-slider");
    const rangeInputs = document.querySelectorAll(".range-input input");

    let priceGap = 500;

    const priceInputs = document.querySelectorAll(".price-input input");
    priceInputs.forEach(input => {
        input.addEventListener("input", () => {
            updatePriceSlider();
        });
    });

    // Add event listeners to range input elements
    rangeInputs.forEach(input => {
        input.addEventListener("input", () => {
            updatePriceInputs();
        });
    });

    function updatePriceSlider() {
        let minPrice = parseInt(priceInputs[0].value);
        let maxPrice = parseInt(priceInputs[1].value);

        let minRange = parseInt(rangeInputs[0].min);
        let maxRange = parseInt(rangeInputs[1].max);

        if (minPrice > maxPrice) {
            minPrice = maxPrice;
            priceInputs[0].value = minPrice;
        }

        let minPos = ((minPrice - minRange) / (maxRange - minRange)) * 100;
        let maxPos = ((maxRange - maxPrice) / (maxRange - minRange)) * 100;

        rangeValue.style.left = `${minPos}%`;
        rangeValue.style.right = `${maxPos}%`;

        // Автоматическое обновление range input значения
        rangeInputs[0].value = minPrice;
        rangeInputs[1].value = maxPrice;
    }

    function updatePriceInputs() {
        let minRange = parseInt(rangeInputs[0].value);
        let maxRange = parseInt(rangeInputs[1].value);

        if (minRange > maxRange) {
            maxRange = minRange;
            rangeInputs[1].value = maxRange;
        }

        priceInputs[0].value = minRange;
        priceInputs[1].value = maxRange;

        updatePriceSlider();
    }

    document.addEventListener("DOMContentLoaded", function() {
        // Получите текущие значения min_price и max_price
        let minPriceValue = parseInt(document.querySelector(".min-input").value);
        let maxPriceValue = parseInt(document.querySelector(".max-input").value);

        // Получите максимальное значение из диапазона
        let maxRangeValue = parseInt(document.querySelector(".min-range").max);

        // Установите положение slide-container
        let rangevalue = document.querySelector(".slider-container .price-slider");
        rangevalue.style.left = `${(minPriceValue / maxRangeValue) * 100}%`;
        rangevalue.style.right = `${100 - (maxPriceValue / maxRangeValue) * 100}%`;
    });

    function checkMinMaxRanges() {
        let minPrice = parseInt(priceInputs[0].value);
        let maxPrice = parseInt(priceInputs[1].value);

        if (minPrice > maxPrice) {
            priceInputs[0].value = maxPrice;
        }
    }
</script>


<!--<input type="hidden" name="search_query" value="{{ query }}">-->
<div class="search-container">
  {% csrf_token %}
<input class="input-tab" type="text" id="search-input" name="search_query" placeholder="Поиск..." style="height: 35px; width: 250px" {% if query != Null %} value="{{query}}" {% endif %}>
<a class="btn button-primary-outline" id="search-button" style="margin-bottom: 3px; margin-left: 5px; border: 1px solid darkgray;" href="">Искать</a><br>
{% if query != Null %}<a id="clear-search" style="color: grey; font-weight: bolder" href="/events/{{type}}">Очистить поиск</a>{% endif %}
</div>
        </block>
            <br> <hr style=" width: 350px "><br><br>
          <div id="content-container">
          <div class="row row-lg-50 row-35 offset-top-2">
              {#              Каждый див класс обхватывать классом ссылки, чтобы не писать Пример - а див /див /a#}
              {% for event in map_dots|slice:":8" %}
              <div class="col-md-3 wow-outer">
              <article class="post-modern wow slideInLeft"><a class="post-modern-media" href="/event/{{ event.id }}"><img src="/static/images/event_pics/{{ event.image }}" alt="" style="width: 571px; height: 150px; object-fit: cover;"/></a>
                <h4 class="post-modern-title"><a class="post-modern-title" href="/event/{{ event.id }}">{{ event.title }}</a></h4>
                <ul class="post-modern-meta">
                  <li>
                      {%if event.price == 0%}
                      <a style="color: forestgreen">Бесплатно</a>
                    {% else %}
                      <a style="color: #4348bd">{{event.price}} ₽</a>
                    {% endif %}
                    </li>
                </ul>
                <p class="description">{{ event.tiny_description }}</p>
              </article>
            </div>
              {% endfor %}
          </div>
              <br>
<div class="swiper-pagination swiper-pagination-modern swiper-pagination-marked" style="margin: auto; font-size: 23px; font-weight: bolder">
    {% if map_dots.has_previous %}
        <a href="?page={{ map_dots.previous_page_number }}">&lt;</a>
    {% endif %}

    {% for i in map_dots.paginator.page_range %}
        {% if map_dots.number == i %}
            <a style="border-bottom: 2px solid gray">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if map_dots.has_next %}
        <a href="?page={{ map_dots.next_page_number }}">&gt;</a>
    {% endif %}
</div>

            </div>
        </div>
      </section><br><br><br><br><br><br>
<div id="myElement" data-sort="{{sort}}"></div>
    </div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var currentPage = window.location.href.replace(/^.*\/\/[^\/]+/, '');
    currentPage = decodeURIComponent(currentPage);
    var links = document.querySelectorAll(".dropdown-content a");
    links.forEach(function(link) {
      if (link.getAttribute("href") === currentPage) {
        link.style.textDecoration = "underline";
        link.style.textDecorationColor = "#7e868b"
      }
    });
  });
</script>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-Km4JHbU5IXY0bYip7bBf/aFMsOKjpa3SmHgAXx4wdPw=" crossorigin="anonymous"></script>-->
  </body>
<script src="/static/js/search_script.js"></script>
</html>
{% endblock content %}