{% extends "dosug/preloader_messages.html" %}
{% block layout %}
<html class="wide wow-animation" lang="en">
  <head>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800%7CPoppins:300,400,700">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css" id="main-styles-link">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}

    button{
    background: #4348bd;
    font-family: "Georgia";
    color: white;
}
button:hover {
    background: #373b97;
}
.login_button{
    color: grey;
}
.login_button:hover{
color: #4348bd;
}
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}
    </style>
  </head>
  <body>
    <div class="page">
      <header class="section novi-background page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-corporate" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-stick-up="true" data-lg-stick-up-offset="118px" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-stick-up="true" data-xl-stick-up-offset="118px" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-stick-up-offset="118px" data-xxl-stick-up="true">
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>
                  <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="/"><img src="/static/images/logo.png" alt="" width="220" height="220" srcset="/static/images/logo.png 2x"/></a>
                </div>
                <div class="rd-navbar-collapse">
                  <button class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle="#rd-navbar-collapse-content-1"><span></span></button>
                  <div class="rd-navbar-collapse-content" id="rd-navbar-collapse-content-1">
{#                    <article class="unit align-items-center">#}
{#                      <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-phone"></span></div>#}
{#                      <div class="unit-body">#}
{#                        <ul class="list-0">#}
{#                          <li><a class="link-default" href="tel:#">Реклама на сайте</a></li>#}
{#                          <li><a class="link-default" href="tel:#">Бесплатные события</a></li>#}
{#                        </ul>#}
{#                      </div>#}
{#                    </article>#}
{#                    <article class="unit align-items-center">#}
{#                      <div class="unit-left"><span class="icon novi-icon icon-md icon-modern mdi mdi-map-marker"></span></div>#}
{#                      <div class="unit-body"><a class="link-default" href="tel:#">Сюда <br> И сюда что-нибудь</a></div>#}
{#                    </article>#}
                      <a class="button button-primary-white" style="border: 1px solid grey" href="/add_event">Добавить событие</a><br>
                      <a class="button button-primary-white" style="border: 1px solid grey" href="/map">Карта</a><br>
                      <a class="button button-primary-white" style="border: 1px solid grey" href="/random_event">Мне повезёт!</a>
                      <div class="dropdown">
                          {% if user.is_authenticated %}
                              <img src="/static/images/default.png" width="60" height="60" onclick="toggleDropdown()" style="cursor: pointer;">
                          <div class="dropdown-content" id="myDropdown" style="z-index: 9999;">
        <a href="#">Мой профиль</a>
        <a href="#">Мои события</a>
        <a href="/logout">Выход</a>
                          </div>
                          {% else %}
                      <a href="/login" class="login_button">Вход</a>
                      <a href="/register" class="login_button">Регистрация</a>
                          {% endif %}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer" style="background: #4348bd">
              <div class="rd-navbar-main" >
                <div class="rd-navbar-nav-wrap" style="text-align: center" id="rd-navbar-nav-wrap-1" >
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
{#                      Поменяй на rd-nav-item active и будет прозрачной#}
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/events/all">Все события</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/events/art">Творчество</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/events/music">Музыка</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/events/entertainments">Развлечения</a>
                    </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/events/culture_study">Культура и образование</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="/events/sport">Спорт</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
        {% block content %}{% endblock %}
          <footer class="section novi-background footer-advanced" style="background: #4b4c5a">
        <div class="footer-advanced-aside">
          <div class="container">
              <p class="rights" style="color: lightgrey"><span>&copy; </span>Команда Мишлен 2024</p>
            </div>
          </div>
      </footer>
    </div>
{#    <!-- Global Mailform Output-->#}
{#    <div class="snackbars" id="form-output-global"></div>#}
    <!-- Javascript-->
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock layout %}