{% extends "dosug/preloader_messages.html" %}
{% block layout %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
    html,
    body {
        height: 100%
    }
    .login_form{
        display: block;
        border: 1px solid black;
        border-radius: 10px;
        padding: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
</style>
<body>
<div class="page" style="display: none"></div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="login_form">
    <h3>Вход</h3>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Имя пользователя<br><input style="" name="username" type="text" id="username" required></label><br>
        <label for="password">Пароль<br><input name="password" type="password" id="password" style="" required></label><br>
        <button class="button button-primary-outline" style="border: 1px solid grey;border-radius: 5px">Войти</button><br><br>
        <small>Ещё не зарегистрированы? <a href="/register">Регистрация</a></small><br>
        <small><a href="/">На главную</a></small>
    </form>

   </div>
    </div>
</body>
</html>
{% endblock layout %}