{% extends "dosug/layout.html" %}
{% block content %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>Профиль {{user_prof.username}}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800%7CPoppins:300,400,700">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/style.css" id="main-styles-link">
  </head>
<style>
        form {
            max-width: 600px;
        }

        label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }


        input, textarea {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
        .events-container {
  height: 400px;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid darkgray;
}
  .stuff {
    display: inline-flex;
      text-align: center;
    width: 100%;
  }

  .stuff > *:first-child {
    flex-grow: 1;
  }

  .stuff > *:last-child {
    flex-grow: 9;
  }
    </style>
  <body>
  <div class="page"><br><br><br>
      <section class="section novi-background section-md text-center">
          <h3 style="text-align: center"><b>{% if edit == 1 %}Мой профиль{% else %}{{user_prof.username}}{% endif %}</b></h3></section>
      <div class="container" style="border: 1px solid darkgray; border-radius: 10px; padding: 20px; text-align: left">
          <div class="stuff">
          <div class="block-center" style="border-right: 1px solid #ededee">
          <img src="/static/images/default.png" style="border-radius: 50px; width: 125px; height: 125px">
          <h4>{{user_prof.username}}</h4><hr>
              <div style="margin-top: 10px; text-align: left">
              <p>Тип профиля: {{user_prof.type}}</p>
                  {%if user_prof.org_name is Null %}
              <p>Имя: {{user_prof.first_name}}</p>
              <p>Фамилия: {{user_prof.last_name}}</p>
                  {% else %}
              <p>Название организации: {{user_prof.org_name}}</p>
                  {% endif %}
              <p> Email: {%if user_prof.email != "" %}{{user_prof.email}}{%else%}Не указан{%endif%}</p>
              <p> Дата регистрации: {{user_prof.date_joined}}</p>
              <p> Последний вход: {{user_prof.last_login}}</p>
              </div>
              </div>
              {% if edit == 1 %}
          <div class="block-center" style="">
          <button id="toggleFormButton" class="btn btn-primary">Изменить имя пользователя</button>
                    <button id="toggleFormButton2" class="btn btn-primary">Изменить пароль</button>
<div id="editFormContainer" style="display: none;">
    <form method="POST" style="margin: 0 auto; text-align: center">
        {% csrf_token %}
        <h4>Изменение имени пользователя</h4><br>
        <label for="username"><b>Имя пользователя:</b> <input class="input-tab" type="text" id="username" name="username" maxlength="100" required minlength="2" value="{{user_prof.username}}"></label><br>
        <label for="password"><b>Подтверждение пароля:</b> <input class="input-tab" style="margin-left: 58px" type="password" id="password" name="password" maxlength="100" required minlength="2"></label>
        <button class="button btn-primary-accept">Принять</button>
    </form>
</div>
<script>
    document.getElementById('toggleFormButton').addEventListener('click', function() {
        var formContainer = document.getElementById('editFormContainer');
        var formContainer2 = document.getElementById('editFormContainer2');
        var old_password = document.getElementById('old_password');
        var new_password = document.getElementById('new_password');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
            old_password.value = "";
            new_password.value = "";
            formContainer2.style.display = 'none';
        } else {
            formContainer.style.display = 'none';
        }
    });
</script>

<div id="editFormContainer2" style="display: none;">
    <form method="POST" style="margin: 0 auto; text-align: center">
        {% csrf_token %}
        <h4>Изменение пароля</h4><br>
        <label for="old_password"><b>Старый пароль:</b> <input class="input-tab" type="password" id="old_password" name="old_password" maxlength="100" required minlength="2"></label><br>
        <label for="new_password"><b>Новый пароль:</b> <input class="input-tab" style="margin-left: 106px" type="password" id="new_password" name="new_password" maxlength="100" required minlength="2"></label>
        <button class="button btn-primary-accept">Принять</button>
    </form>
</div>
<script>
    document.getElementById('toggleFormButton2').addEventListener('click', function() {
        var formContainer = document.getElementById('editFormContainer2');
        var formContainer2 = document.getElementById('editFormContainer');
        var password = document.getElementById('password');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
            formContainer2.style.display = 'none';
            password.value = "";
        } else {
            formContainer.style.display = 'none';
        }
    });
</script>
                        </div>
              {% else %}
  <section class="section novi-background section-lg text-center">
    <div class="container">
      <h4 class="text-uppercase">События {%if user_prof.type == "Пользователь" or user_prof.type == "Администратор" %}пользователя{%else%}организации{%endif%}</h4><br>
                  {% if events%}
              <div class="events-container">
      <div class="row row-35 row-xxl-70 offset-top-2">
        {% for event in events %}
        <div class="col-sm-6 col-lg-3">
          <article class="thumbnail-light">
            <a class="thumbnail-light-media" href="/event/{{event.id}}">
              <img src="/static/images/event_pics/{{ event.image }}" style="width: 571px; height: 150px; object-fit: cover;" alt=""/>
            </a>
            <h4 class="thumbnail-light-title"><a href="/event/{{event.id}}">{{event.title}}</a></h4>
                              <ul class="post-modern-meta">
                  <li>
                      {%if event.price == 0%}
                      <a style="color: forestgreen">Бесплатно</a>
                    {% else %}
                      <a style="color: #4348bd">{{event.price}} ₽</a>
                    {% endif %}
                    </li>
                </ul>
          </article>
        </div>
        {% endfor %}
      </div>
                  </div>
                  {% else %}
        <div class="text-center">
          <p>События отсутствуют</p>
            </div>
          {% endif %}
    </div>
  </section>
              {% endif %}
              </div>
      </div>
      <br><br>
      </div>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>#}
  </body>
</html>
{% endblock content %}