{% extends "dosug/layout.html" %}
{% block content %}
<html class="wide wow-animation" lang="en">
  <head>
    <title>Профиль</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800%7CPoppins:300,400,700">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/style.css" id="main-styles-link">
  </head>
<style>
        form {
            max-width: 600px;
        }

        label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }


        input, textarea {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
    </style>
  <body>
  <div class="page"><br><br><br>
      <section class="section novi-background section-md text-center">
          <h3 style="text-align: center"><b>Мой профиль</b></h3></section>
      <div class="container" style="border: 1px solid darkgray; border-radius: 10px; padding: 20px; text-align: left">
          <div style="display: inline-flex; text-align: center">
          <div class="block-center">
          <img src="/static/images/default.png" style="border-radius: 50px; width: 125px; height: 125px">
          <h3>{{user_prof.username}}</h3><hr>
              <div style="margin-top: 10px; text-align: left">
              <p>Тип профиля: {{user_prof.type}}</p>
              <p> Дата регистрации: {{user_prof.date_joined}}</p>
              <p> Email: {%if user_prof.email != "" %}{{user_prof.email}}{%else%}Не указан{%endif%}</p>
              </div>
              </div>
                    <div class="block-center">
          <button id="toggleFormButton" class="btn btn-primary">Изменить имя пользователя</button>
                    <button id="toggleFormButton2" class="btn btn-primary">Изменить пароль</button>
<div id="editFormContainer" style="display: none;">
    <form method="POST" style="margin: 0 auto; text-align: center">
        {% csrf_token %}
        <h4>Изменение имени пользователя</h4><br>
        <label for="username"><b>Имя пользователя:</b> <input class="input-tab" type="text" id="username" name="username" maxlength="100" required minlength="2" value="{{user_prof.username}}"></label><br>
        <label for="password"><b>Подтверждение пароля:</b> <input class="input-tab" style="margin-left: 58px" type="password" id="password" name="password" maxlength="100" required minlength="2"></label>
        <button class="button btn-primary-accept">Принять</button>
    </form>
</div>
<script>
    document.getElementById('toggleFormButton').addEventListener('click', function() {
        var formContainer = document.getElementById('editFormContainer');
        var formContainer2 = document.getElementById('editFormContainer2');
        var old_password = document.getElementById('old_password');
        var new_password = document.getElementById('new_password');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
            old_password.value = "";
            new_password.value = "";
            formContainer2.style.display = 'none';
        } else {
            formContainer.style.display = 'none';
        }
    });
</script>

<div id="editFormContainer2" style="display: none;">
    <form method="POST" style="margin: 0 auto; text-align: center">
        {% csrf_token %}
        <h4>Изменение пароля</h4><br>
        <label for="old_password"><b>Старый пароль:</b> <input class="input-tab" type="password" id="old_password" name="old_password" maxlength="100" required minlength="2"></label><br>
        <label for="new_password"><b>Новый пароль:</b> <input class="input-tab" style="margin-left: 106px" type="password" id="new_password" name="new_password" maxlength="100" required minlength="2"></label>
        <button class="button btn-primary-accept">Принять</button>
    </form>
</div>
<script>
    document.getElementById('toggleFormButton2').addEventListener('click', function() {
        var formContainer = document.getElementById('editFormContainer2');
        var formContainer2 = document.getElementById('editFormContainer');
        var password = document.getElementById('password');
        if (formContainer.style.display === 'none' || formContainer.style.display === '') {
            formContainer.style.display = 'block';
            formContainer2.style.display = 'none';
            password.value = "";
        } else {
            formContainer.style.display = 'none';
        }
    });
</script>
                        </div>
              </div>
      </div>
      <br><br>
      </div>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>#}
  </body>
</html>
{% endblock content %}