{% extends "dosug/about.html"%}
{% block text %}
<style>
    .tab_text{
        text-align: left;
        text-indent: 30px;
        margin-top: 0px;
        font-weight: bolder;
    }
</style>
<p class="tab_text wow slideInUp" style="margin-top: 10px">
    Добро пожаловать на Ритм Города – вашу виртуальную площадку для открытия мира развлечений в сердце Москвы! Мы – команда энтузиастов, которые создали этот проект с целью сделать культурные события столицы еще более доступными и удобными для всех жителей и гостей города. Наша площадка – это не просто сайт, это сообщество людей, которые любят и ценят культуру, искусство и разнообразие городской жизни.</p>
<p class="tab_text wow slideInUp">
    Ритм Города – это open source проект, что означает, что его исходный код доступен для всех и может быть свободно использован и модифицирован. Мы приглашаем всех желающих присоединиться к развитию нашей платформы, вносить свои идеи и улучшения, чтобы сделать ее еще более полезной и удобной для всех пользователей.</p>
<p class="tab_text wow slideInUp">
    Зарегистрируйтесь прямо сейчас, чтобы начать свое увлекательное путешествие по культурным и развлекательным событиям столицы! Пользовательский аккаунт позволит вам не только просматривать актуальные мероприятия, но и добавлять их в свой список избранных для удобного отслеживания. Будьте в курсе всех новостей и горячих событий благодаря удобной системе оповещений.</p>
<p class="tab_text wow slideInUp">
    А если вы являетесь организатором, то наш сайт предоставляет вам все необходимые инструменты для создания, редактирования и продвижения ваших мероприятий. Вы сможете привлечь внимание широкой аудитории, предлагая уникальные и запоминающиеся события, которые будут доступны для всех желающих. Мы поддерживаем разнообразие культурных и развлекательных инициатив, поэтому каждый может найти что-то особенное для себя на страницах Ритма Города.</p>
<p class="tab_text wow slideInUp">
    Присоединяйтесь к нашему сообществу – здесь каждый найдет что-то по своему вкусу, будь то концерт любимой группы, выставка современного искусства или увлекательный мастер-класс. Ритм Города – это место, где культура и развлечения становятся доступными и интересными для всех!</p>
{% endblock text %}